block content
  if historyLinks
    include historyLinks.pug
  block mainContainer
    .cooperation.container
      h2.cooperation__title Сотрудничество
      section.cooperation__suppliers.cooperation-suppliers.cooperation__section
        h3.cooperation__title-h3 Поставщикам
        p.cooperation__text.cooperation-suppliers__text При планировании обстановки торгового помещения важно обустроить его с&nbsp;комфортом для покупателей: грамотно зонировать, обеспечить эффективную демонстрацию и&nbsp;хранение товаров в&nbsp;зале. Если вам необходимо комплексное оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания эффективной торговой деятельности, мы&nbsp;поможем выбрать продукцию с&nbsp;учетом нагрузки от&nbsp;поступающего трафика.
      section.cooperation__youget.cooperation-youget.cooperation__section
        h3.cooperation__title-h3 Что вы получаете?
        ul.cooperation-youget__list.list-flex
          li.cooperation-youget__item 
            p.cooperation-youget__text.cooperation__text Мы&nbsp;ценим идеи и&nbsp;вдохновение и&nbsp;предлагаем сотрудничество талантливым дизайнерам и&nbsp;архитекторам. Выпускаемая нами продукция гармонично дополнит любой современный проект.
          li.cooperation-youget__item 
            p.cooperation-youget__text.cooperation__text Комплексное решение для красивого и&nbsp;функционального обустройства любых пространств.
          li.cooperation-youget__item 
            p.cooperation-youget__text.cooperation__text В&nbsp;ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку в&nbsp;помещениях разных типов: кабинетах, смешанных пространствах, Open Space, гостевых и&nbsp;переговорных комнатах.
      section.cooperation__why.cooperation-why.cooperation__section
        h3.cooperation__title-h3 Ваши преимущества от&nbsp;сотрудничества
        ol.cooperation-why__list.list-flex
          li.cooperation-why__item 
            p.cooperation-why__text.cooperation__text Создавайте незабываемые впечатления. Красиво меблированная фотостудия не&nbsp;оставит клиентов равнодушными, а&nbsp;созданная интерьером атмосфера будет надолго запечатлена на&nbsp;их&nbsp;снимках. Стильная и&nbsp;разноплановая обстановка творческого пространства&nbsp;&mdash; ключевая составляющая его успешной деятельности. Позаботьтесь о&nbsp;людях в&nbsp;кадре, а&nbsp;мы&nbsp;поможем правильно выбрать мебель.
          li.cooperation-why__item 
            p.cooperation-why__text.cooperation__text Мы&nbsp;предлагаем застройщикам, работающим на&nbsp;территории&nbsp;РФ, участие наших специалистов от&nbsp;этапа проектирования обстановки квартир и&nbsp;подбора комплексных интерьерных решений до&nbsp;оптовых поставок мебели. Поможем организовать демонстрационный зал с&nbsp;образцами изделий и&nbsp;материалов на&nbsp;площади нового здания, чтобы покупатель заблаговременно подобрал тот вариант меблировки, который удовлетворит даже самые взыскательные ожидания.
      section.cooperation__guarantees.cooperation-guarantees.cooperation__section
        h3.cooperation__title-h3 Гарантии
        ol.cooperation-guarantees__list.list-flex
          li.cooperation-guarantees__item 
            p.cooperation-guarantees__text.cooperation__text При приемке товара Покупатель должен внимательно проверить его количество, качество и&nbsp;ассортимент на&nbsp;соответствие сопроводительным документам и&nbsp;заказу. После подписания товарного чека Покупатель утрачивает право предъявления претензий, которые можно выявить при приемке товара.
          li.cooperation-guarantees__item 
            p.cooperation-guarantees__text.cooperation__text На&nbsp;товары, сборка которых производилась покупателем самостоятельно (не&nbsp;специалистами Продавца), гарантийные обязательства Продавца не&nbsp;распространяются. Также гарантия не&nbsp;распространяется на&nbsp;повреждения товара, полученные в&nbsp;ходе самостоятельной доставки и&nbsp;подъема товара. Покупатель не&nbsp;вправе отказаться от&nbsp;товара надлежащего качества, имеющего индивидуально-определенные свойства, т.е. если товар может быть использован исключительно приобретающим его потребителем.
          li.cooperation-guarantees__item 
            p.cooperation-guarantees__text.cooperation__text Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид и&nbsp;потребительские свойства товара, а&nbsp;также товарный и&nbsp;кассовый чеки. В&nbsp;этом случае мы&nbsp;гарантируем вам возврат полной стоимости товара (за&nbsp;вычетом стоимости доставки). В&nbsp;случае отказа от&nbsp;товара при доставке, клиент оплачивает услуги доставки.
      section.cooperation__guarant.cooperation-guarant.cooperation__section
        h3.cooperation-guarant__title Срок гарантии на&nbsp;нашу мебель составляет от&nbsp;18&nbsp;до&nbsp;60&nbsp;месяцев
      