@use 'colors' as *;
@use 'mixins' as *;
@use 'variables' as *;
@forward './!normalize.scss';

@font-face {
  font-family: 'Open sans';
  src: url('../assets/fonts/open-sans.bold.woff2') format('woff2'),
    url('../assets/fonts/open-sans.bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open sans';
  src: url('../assets/fonts/open-sans.regular.woff2') format('woff2'),
    url('../assets/fonts/open-sans.regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open sans';
  src: url('../assets/fonts/open-sans.semibold.woff2') format('woff2'),
    url('../assets/fonts/open-sans.semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair display';
  src: url('../assets/fonts/playfair-display.black.woff2') format('woff2'),
    url('../assets/fonts/playfair-display.black.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// global
* {
  box-sizing: border-box;
  font-family: 'Open sans';
}

body {
  background-color: $white;
}

a {
  text-decoration: none;
}

:root {
  --containerPadding: 36px;
}

.container {
  margin: 0 auto;
  // max-width: 1320px;
  max-width: 1352px;
  @include containerSidesPadding;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  &-flex {
    @extend .list;
    display: flex;
    flex-wrap: wrap;
  }

}

.visually-hidden {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.tooltip {
  position: relative;
  display: inline;

  &__btn {
    box-sizing: content-box;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: solid 2px $secondary;
    border-radius: 50%;
    color: $secondary;
    cursor: pointer;
    transition: color .3s ease, background-color .3s ease;

    &::before {
      visibility: hidden;
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      width: 17px;
      height: 16px;
      background-color: transparent;
      transform: translate(-50%, -32px) rotate(-45deg);
      transition: visibility .1s ease, background-color .1s ease-in, transform .1s ease-in;
    }

    &:hover::before {
      visibility: visible;
      background-color: $black;
      transform: translate(-50%, -24px) rotate(-45deg);
      transition: visibility .3s ease, transform .1s .3s linear, background-color .1s .3s linear;
    }
  }

  &__btn:hover,
  &__btn--active {
    background-color: $secondary;
    color: $white;
  }

  &__btn:hover+&__text,
  &__btn--active+&__text {
    visibility: visible;
    background-color: $black;
    color: $white;
  }

  &__text {
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: 27px;
    padding: 5px;
    width: max-content;
    max-width: 160px;
    transform: translateX(-50%);
    background-color: transparent;
    @include text(11px, normal, 14px);
    text-align: center;
    color: transparent;
    transition: background-color .3s ease-in-out, color .3s ease-in-out, visibility .3s ease;
  }

  &__svg {
    width: 6px;
    height: 8px;
  }
}

.rating {
  position: absolute;
  top: 30px;
  padding-left: 22px;
  color: $secondary;

  &__text {
    @include text(16px, normal, 130%);
    color: inherit;
  }

  &__svg {
    position: absolute;
    top: 30%;
    left: 0;
    width: 16px;
    height: 15px;
    transform: translate(0, -30%);
  }
}

.phone {
  position: relative;
  color: $secondary;

  &__link,
  &__svg {
    color: inherit;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__svg {
    width: 22px;
    height: 22px;
  }

  &__number {
    @include text(14px, normal, 100%, )
  }
}

.logo {
  display: flex;
  align-items: center;
  width: fit-content;
  max-height: 27px;
  color: $secondary;

  &__svg {
    margin-right: 10px;
    width: 37px;
    height: 27px;
  }

  &__img {
    width: 140px;
  }
}

.btn-circle {
  @include btnCircleArrow(7px, 3px, 2px, currentColor);
  padding: 15px;
  max-width: 32px;
  max-height: 32px;
  border-radius: 50%;
  border: solid 2px currentColor;
  background-color: transparent;
  color: $primary;
  cursor: pointer;
}

.btn-full {
  border: 1px solid $primary;
  border-radius: 10px;
  background-color: $primary;
  text-align: center;
  color: $white;
  @include text(16px, bold, 100%);
  cursor: pointer;
}

.reg {
  top: 0;
  margin-right: 5px;
  font-size: inherit;
}

.checkbox-btn {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-flex;
  width: 14px;
  height: 14px;
  border: solid 2px currentColor;
  border-radius: 2px;
  color: $grey;
  transform: translateY(-50%);

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 7px;
    height: 3px;
    border: solid 2px currentColor;
    border-right: transparent;
    border-top: transparent;
    color: $white;
    transform: translate(-50%, -70%) rotate(-45deg);
  }
}

.notFound {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include containerSidesPadding;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__svg {
    margin-bottom: 30px;
    margin-right: 30px;
    width: 161px;
    height: 112px;
    color: rgba($grey_shade, 20%);
  }

  &__title,
  &__text {
    margin: 0;
    @include text(24px, normal, 100%);
    color: $grey;
  }


}

// header

.header {
  overflow: hidden;
  // margin-bottom: 16px;
  // padding-bottom: 16px;
  margin-bottom: 32px;

  &__container {
    position: relative;
    display: grid;
    // minmax(187px, 208px) 120px 23px minmax(10px, 219px) minmax(400px, 493px) minmax(110px, 219px);
    grid-template-columns: minmax(187px, 208px) 120px 60px minmax(10px, 219px) minmax(400px, 530px) minmax(110px, 219px);
    grid-template-rows: minmax(50px, auto) minmax(27px, auto) minmax(60px, auto);
    row-gap: 32px;

    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      left: -40vw;
      width: 140vw;
      height: 100%;
      grid-row: 1 / 1;
      background-color: $grey_light;
    }
  }


  &-link {
    padding-left: $header_link_padding;
    padding-right: $header_link_padding;
  }

  &__faq,
  &__nav {
    margin-left: calc(-1 * $header_link_padding);
    margin-right: calc(-1 * $header_link_padding);
  }

  &__region,
  &__phone,
  &__faq {
    grid-row: 1 / 2;
  }

  &__region {
    grid-column: 1 / 2;
  }

  &__phone {
    grid-column: 2 / 4;
    display: flex;
    align-items: center;
  }

  &__faq {
    grid-column: 5/-1;
  }


  &__logo,
  &__nav {
    grid-row: 2 / 3;
  }

  &__logo {
    grid-column: 1 / 2;
  }

  &__nav {
    grid-column: 3 / -1;
  }

  &__lookfor,
  &__account {
    grid-row: 3 / -1;
  }

  &__lookfor {
    display: flex;
    grid-column: 1 / 6;
  }

  &__account {
    display: flex;
    justify-content: flex-end;
    grid-column: 6 / -1;
  }

}

.header-region {
  display: flex;
  align-items: center;
  padding-right: 17px;

  &__title {
    margin: 0;
    margin-right: 4px;
    @include text(16px, normal, 120%);
  }

  &__list {
    position: relative;
    color: $primary;
  }

  &__link {
    &::before {
      top: 50%;
      right: 0;
      @include arrow(7px, 1px, $primary, 135deg);
      transform: translate(13px, -50%) rotate(135deg);
    }

    word-break: break-all;
    @include text(16px, normal, 120%);
    color: inherit;
  }
}

.faq {
  align-self: center;

  &-toggle {
    display: none;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
  }

  &__list {
    justify-content: space-between;
  }

  &__link {
    @include text(14px, normal, 100%);
    color: $grey;
  }
}

.nav {
  &-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &__stroke {
      width: 100%;
      height: 3px;
      border-radius: 4px;
      background-color: $primary;
    }
  }

  &__list {
    justify-content: space-between;
  }

  &__link {
    @include text(16px, normal, normal);
    color: $black;
  }
}

.header-search {
  width: 100%;
  max-width: 761px;

  &__form {
    position: relative;
    display: flex;
    margin-bottom: 0;
  }

  &__label {
    width: 100%;
    background-color: $grey_light;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

  }

  &__input {
    padding: 18px 70px 18px 32px;
    width: 100%;
    max-width: 677px;
    border: 1px solid transparent;
    background-color: transparent;
    @include text(16px, normal, 120%);
    color: $grey;

    &::placeholder {
      @include text(16px, normal, 120%);
      color: $grey;
    }
  }

  &__submit {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translate(0, -50%);
  }

}

.header-filter {
  max-width: 300px;
  min-width: 265px;

  &__button {
    &::before {
      bottom: 50%;
      right: 0;
      @include arrow(8px, 1px, $primary, -45deg);
      transform: translate(-32px, 50%) rotate(135deg);
    }

    position: relative;
    display: flex;
    padding: 18px 42px;
    min-height: 100%;
    min-width: 100%;
    align-items: center;
    background-color: transparent;
    border: 2px solid $primary;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    @include text(16px, normal, 120%);
    color: $primary;
    cursor: pointer;
  }

  &__title {
    @include text(16px, normal, 120%);

    &::after {
      content: 'Выбрать категорию';
    }
  }

  &__list {
    display: none;
  }
}

.account {
  align-items: center;

  &-login {
    margin-right: 43px;
    color: $primary;

    &__button {
      padding: 0;
      border: none;
      background-color: transparent;
      color: $primary;
      cursor: pointer;
    }

    &__svg {
      width: 26px;
      height: 28px;
    }
  }

  &-cart {
    position: relative;

    &__link {
      color: $primary;
    }

    &__count {
      position: absolute;
      top: 30%;
      right: 100%;
      padding: 0 6px;
      max-width: 30px;
      color: $white;
      @include text(10px, bold, 100%);
      transform: translate(4px, -30%);

      &::before {
        z-index: -1;
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        padding: 50%;
        border-radius: 50%;
        background-color: $secondary;
        transform: translate(-50%, -50%);
      }
    }

    &__svg {
      width: 30px;
      height: 28px;
    }
  }

}

.footer {
  background-color: $md_grey;

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    @include containerSidesPadding;
  }

  &__logolinks-wrapper {
    margin-right: 32px;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__list-link {
    display: flex;
  }

  &__item-link:not(:last-child) {
    margin-right: 20px;
  }

  &__svg-link {
    display: flex;
    color: $grey;
  }

  &__svg {
    width: 30px;
    height: 28px;
  }

  &__list-wrapper {
    width: 100%;
    max-width: 843px;
  }

  &__lists {
    width: 100%;
    justify-content: space-between;
  }

  &__title-items {
    display: block;
    margin-bottom: 10px;
    @include text(16px, normal, 100%);
    color: $black;
  }

  &__list {
    flex-direction: column;
  }

  &__item {
    @include text(14px, normal, 100%);
    color: $grey;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    color: currentColor;
  }

  &__copyright-wrapper {
    background-color: $grey_light;
    text-align: center;
    @include text(14px, normal, normal);
    color: $grey;
  }
}